.menu {
    display: flex;
    position: relative;
    color: #FFFFFF;
    justify-content: space-between;
    padding: 0 72px;
    background: rgba(255, 255, 255, 0.1);
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    &-block {
        display: flex;
        gap: 24px;
        justify-content: center;
        align-items: center;
        &__netUp {
            width: 113px;
            height: 32px;
        }
        &__parentIcon {
            width: 56px;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background: rgba(255, 255, 255, 0.1);
            &.search1 {
                background: rgba(255, 255, 255, 0.35);
            }
        }
        &__item {
            display: flex;
            align-items: center;
            cursor: pointer;
            span {
                font-size: 24px;
                font-weight: 400;
            }
        }
    }
}

